.wrapper {
    width: 61.8%;
    margin: 0 auto;
    padding: 20px 0;
}

.wrapper .title {
    margin-bottom: 40px;
    font-size: 2.6em;
    text-align: center;
}

.wrapper .summary {
    text-indent: 2em;
    font: 1em/1.5 "Microsoft YaHei" ;
}

.wrapper .example-img {
    width: 100%;
}

.btns{
    margin: 20px auto;
    text-align: center;
}

.btn-download {
    position: relative;
    display: inline-block;
    padding: 0.4em 1em;
    border: 1px solid #e3695f;
    margin: 0 0 10px;
    color: #fff;
    background: #e3695f;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}